<!DOCTYPE html>
<html>
  <head>
    <title>Travel Countries Preference Questionnaire</title>
  </head>
  <body>
    <h1>Travel Countries Preference Questionnaire</h1>
    <form action="/submit" method="POST">
      <p>Please select up to 5 countries:</p>
      <input type="checkbox" name="countries[]" value="Japan"> Japan<br>
      <input type="checkbox" name="countries[]" value="Korea"> Korea<br>
      <input type="checkbox" name="countries[]" value="Singapore"> Singapore<br>
      <input type="checkbox" name="countries[]" value="Thailand"> Thailand<br>
      <input type="checkbox" name="countries[]" value="Indonesia"> Indonesia<br>
      <input type="checkbox" name="countries[]" value="Malaysia"> Malaysia<br>
      <input type="checkbox" name="countries[]" value="Vietnam"> Vietnam<br>
      <input type="checkbox" name="countries[]" value="Cambodia"> Cambodia<br>
      <input type="checkbox" name="countries[]" value="Philippines"> Philippines<br>
      <input type="checkbox" name="countries[]" value="Myanmar"> Myanmar<br>
      <br>
      <input type="submit" value="Submit" onclick="submitForm()">
    </form>

    <script>
      function submitForm() {
        // Get all checked checkboxes
        var checkboxes = document.querySelectorAll('input[name="countries[]"]:checked');
        // Create an array of the selected countries
        var countries = Array.from(checkboxes, x => x.value);
        // Limit the number of selections to 5
        countries = countries.slice(0, 5);
        // Create a JSON object with the selected countries
        var data = { "countries": countries };
        // Send the JSON object to the Flask backend using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/submit");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(data));
      }
    </script>
  </body>
</html>